<div class="mt-5 mb-5 navbar-nav ml-auto">
    <div class=" mb-5 nav-item dropdown">
        <a class="d-flex justify-content-center align-items-center nav-link text-center mb-5" href="#" id="navbarDropdown" role="button" 
            aria-expanded="false">
            <img src="https://hinhanh_banhchung.hn.ss.bfcplatform.vn/images/avarta3.jpg"
                class="user-img" alt="">
            <h3 class="ml-2">Admin</h3>
        </a>
        <div><a class="dropdown-item" href="/courses/create">Đăng Bánh Mới</a></div>
        <div>
            <hr class="dropdown-divider">
        </div>
        <div><a class="dropdown-item" href="/me/store/courses">Sản Phẩm Của Tôi</a></div>
         <div>
            <hr class="dropdown-divider">
        </div>
        <div><a class="dropdown-item" href="/me/store/order">Danh Sách Đơn Hàng</a></div>
        <div>
            <hr class="dropdown-divider">
        </div>
        <div><a class="dropdown-item" href="#">Đăng xuất</a></div>

    </div>
</div>