<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bánh Chưng Truyền Thống Cô Năm<main></main></title>
    <link rel="stylesheet" href="/css/app.css">
    {{!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> --}}
    {{!-- <link rel="stylesheet" href="http://localhost:3000/fonts/fontawesome-free-5.15.4-web/css/all.min.css"> --}}
    <link rel="icon" href="https://hinhanh_banhchung.hn.ss.bfcplatform.vn/images/banhtet.jpg" type="image/icon type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
</head>
<body>
    <div style="background-image: url(https://hinhanh_banhchung.hn.ss.bfcplatform.vn/images/background1.jpg);filter: brightness(100%); " class="app">
        {{> header}}
        <div class="container"> 
            {{{body}}}
        </div>
        {{> footer}}
    </div>
     <div class="icon-row">
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-short"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
        </svg>
    </div>
     <a class="img-phone" href="tel:+84948274217" class="icon-phone">
       <img style="width: 100%; height: 100%" src="https://hinhanh_banhchung.hn.ss.bfcplatform.vn/images/phone.png" alt="phone">
    </a>
    {{!-- đặt js ở đây để tăng tốc độ chạy của web --}}
    
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<script>
    var iconrow = document.querySelector('.icon-row')
    document.onscroll = function (){
        if(scrollY > 10){
            iconrow.style.display = "block"
        }
        else{
            iconrow.style.display = "none"; 
        }
    }
    iconrow.onclick = function(){
       document.body.scrollTop = 0;
       document.documentElement.scrollTop = 0;  
    }
   
</script>